<div class="head1">
    <div class="logo">
    <img src="https://branch.io/img/case-study/makemytrip/assets/logo.png">
    </div>
    <div class="upbar">
        <a  routerLink="/home" routerLinkActive="active" style="margin-left: 397px;">Home</a>&nbsp;
        <a  routerLink="/login" routerLinkActive="active" style="margin-left: 10px;">Login</a>&nbsp;
        <a  routerLink="/createaccount" routerLinkActive="active" style="margin-left: 10px;">Create Account</a>
        
        <span class="flagSprite appendRight5 in" style="margin-left: 10px;"></span>
        
        <select class="sel">
            <option>India</option>
            <option>UAE</option>
            <option>US</option>
        </select>
    </div>
</div>

