<!-- headersection -->

<div class="headr">

    <div class="section" >
        

        <div class="midsec">
        <div class="midsec1">
           <ul>
               <li style="padding-left: 45px;"><input type="radio"> ONE WAY</li> 
               <li style="padding-left: 20px;"><input type="radio"> ROUND TRIP</li>
           </ul>
    
           <h2>Book Domestic and International flights</h2>
        </div>
        <div class="midsec2"><button><h2>FROM</h2>
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </button>

            <button><h3>To</h3>
                <mat-form-field>
                <mat-label>Select an option</mat-label>
                    <mat-select disableRipple>
                    <mat-option value="1">Option 1</mat-option>
                    <mat-option value="2">Option 2</mat-option>
                    <mat-option value="3">Option 3</mat-option>
                </mat-select>
                </mat-form-field>
            </button>

            <button><h4>DATE</h4>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </button> 

        </div>
        </div>

    </div>
    <div class="upmidsec">
        <ul>
            <li style="margin-left: -110px;"><i class="fa fa-plane" aria-hidden="true"></i><br><a routerLink="/flight">Flights</a></li>    
            <li style="margin-left: -35px;"><i class="fa fa-building" aria-hidden="true"></i><br><a routerLink="/hotel">Hotels</a></li>
            <li><i class="fa fa-glass" aria-hidden="true"></i><br><a routerLink="/holiday">Holidays</a></li>
            <li><i class="fa fa-train" aria-hidden="true"></i><br><a routerLink="/train">Trains</a></li>
            <li><i class="fa fa-bus" aria-hidden="true"></i><br><a routerLink="/bus">Buses</a></li>
            <li><i style="padding-left: 1px;" class="fa fa-car" aria-hidden="true"></i><br><a routerLink="/cab">Cabs</a></li>
            <li><i style="padding-left: 1px;" class="fa fa-id-card-o" aria-hidden="true"></i><br> Visa</li>
            <li><i style="padding-left: 12px;" class="fa fa-gift" aria-hidden="true"></i><br> Giftcards</li>
            <li><i style="padding-left:3px;" class="fa fa-ellipsis-h" aria-hidden="true"></i><br> More</li>
        </ul>
    </div> 
    <div class="srchbtn">SEARCH</div>
</div>

<!-- middlesection -->

<div class="slidersec">
    <div class="sliderimage">
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../assets/images/hotel1.jpg" alt="Random first slide" height="350" width="964">
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../assets/images/flight1.jpg" alt="Random second slide" height="350" width="964">
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../assets/images/hotel.jpg" alt="Random third slide" height="350" width="964">
              </div>
            </ng-template>
          </ngb-carousel>
    </div>

    <div class="infosec">
        <div class="img1">
            <img src="../../assets/images/travel1.jpg"><p><b style="font-size: 15px;">Chennai Flights</b><br>Via - Delhi, Mumbai, Coimbatore</p><br>
            <img src="../../assets/images/travel2.jpg"><p><b style="font-size: 15px;">Hyderabad Flights</b><br>Via - Chennai, Mumbai, Bangalore</p><br>
            <img src="../../assets/images/nav-destination.jpg"><p><b style="font-size: 15px;">Kolkata Flights</b><br>Via - Delhi, Mumbai, Bangalore</p>
        </div>
        <div class="img2">
            <img src="../../assets/images/travel6.jpg"><p><b style="font-size: 15px;">Goa Flights</b><br>Via - Delhi , Mumbai, Bangalore</p><br>
            <img src="../../assets/images/travel3.webp"><p><b style="font-size: 15px;">Delhi Flights</b><br>Via - Mumbai, Pune, Bangalore</p><br>
            <img src="../../assets/images/travel5.webp"><p><b style="font-size: 15px;">Bangalore Flights</b><br>Via - Delhi, Pune, Mumbai</p>
        </div>
        <div class="img3">
            <img src="../../assets/images/travel7.jpg"><p><b style="font-size: 15px;">Mumbai Flights</b><br>Via - Delhi, Bangalore, Chennai</p><br>
            <img src="../../assets/images/travel8.jpg"><p><b style="font-size: 15px;">Pune Flights</b><br>Via - Delhi, Bangalore, Chennai</p><br>
            <img src="../../assets/images/travel9.jpg"><p><b style="font-size: 15px;">Jaipur Flights</b><br>Via - Mumbai, Delhi, Pune</p>
        </div>
    </div>
</div>

<!-- Footersection -->

<div class="footersec">
  <div class="foter1">
    <h2>Why MakeMyTrip?</h2><br>
    <p>
      The leading player in online flight bookings in India, MakeMyTrip <br> 
      offers great offers, some of the lowest airfares, exclusive discounts<br> and a
      seamless online booking experience. Flight, hotel and holiday<br> bookings
      through the desktop or mobile site is a delightfully<br> customer friendly
      experience, and with just a few clicks you can<br> complete your booking.
      With features like Instant Discounts, Fare<br> Calendar, MyReward Program, 
      MyWallet and many more, the overall<br> booking experience with 
      MakeMyTrip constantly adds value to its<br> product and continues to offer 
      the best to its customers.</p>
  </div>
   <div class="foter2">
    <h2>Booking Flights with MakeMyTrip</h2><br>
    <p>
      Book your flights tickets with India's leading flight booking company<br>
      since the year 2000. While booking flights with MakeMyTrip, you can<br> expect
      the ultimate online booking experience. With premium customer<br> service,
      24/7 dedicated helpline for support, and over 5 million<br> delighted customers,
      MakeMyTrip takes great pride in enabling<br> customer satisfaction. With a 
      cheapest flight guarantee, book your<br> tickets at the lowest airfares. 
      Avail great offers, exclusive deals for loyal<br> customers and get instant 
      updates for your flight status and fare drops.</p>
  </div>
  <div class="foter3">
    <h2>Domestic Flights with MakeMyTrip</h2><br>
    <p>MakeMyTrip is India's leading player for flight bookings, and have a<br>
      dominant position in the domestic flights sector. With the cheapest<br> fare 
      guarantee, experience great value at the lowest price. Instant<br> notifications 
      ensure current flight status, instant fare drops, amazing<br> discounts, instant
      refunds and rebook options, price comparisons and<br> many more interesting features.</p>
  </div> 
</div>
<div class="endsec">
  @Ajay singh
</div>
