*{
    padding: 0px;
    margin: 0px;
}
.structure{
    height: 100px;
    width: 600px;
    margin-left: 300px;
    margin-top: 50px;
    
}
/* .formsec input{
    padding: 5px;
}
.formsec button{
    padding: 5px;
} */
